.investcontainer{
    .investall{
        display: flex;
        flex-direction: column;
        .investlog{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 80px;
                width: 100px;
            }
        }
        .txt{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 25px;
            p{
                font-size: 18px;
                opacity: 0.7;
            }
            span{
                display: flex;
                justify-content: center;
                color: #93b1f7;
                font-weight: bold;
                margin-top: 3px;
            }
        }
        .sumbit{
            margin-top: 13px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            input{
                font-size: 21px;
                padding: 2px 3px;
                text-align: center;
            }
            .btnholder{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 5px;
                button{
                    margin-top: 2px;
                    padding: 4px 6px;
                    font-size: 19px;
                }
            }
        }
        .tbleheader{
            margin-top: 5px;
            h3{
                text-align: center;
            }
        }
    }
}