.addcontainer{
  padding: 0;
  background-color: black;
}
.menu{
  .menub{
    display: flex;
      button{
        display: flex;
        justify-content: center;
        align-items: center;
        a{
          text-decoration: none;
          color: white;
          font-size: 17px;
        }
        padding: 15px 1px;
        background-color: #090;
        width: 20%;
        border-right: 2px solid black;
      }
    .izbrbut{
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 17px;
    }
  }
}

@media only screen and (max-width: 480px){
  .menu{
    .menub{
      display: flex;
        button{
          display: flex;
          justify-content: center;
          align-items: center;
          a{
            text-decoration: none;
            color: white;
            font-size: 13px;
          }
          padding: 15px 1px;
          background-color: #090;
          width: 20%;
          border-right: 2px solid black;
        }
      .izbrbut{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 13px;
      }
    }
  }
}