.cabinetcontainer{
    .cabinetall{
        .head{
            display: flex;
            justify-content: center;
        }
        .inputes{
            display: flex;
            .names{
                display: flex;
                flex-direction: column;
                width: 25%;
            }
            h3{
                text-align: center;
            }
            .field{
                display: flex;
                flex-direction: column;
                width: 75%;
            }
        }
    }
}