.cabinetcontainer{
    margin-bottom: 30px;
    input:focus{
        outline: none;
    }
    .cabinetall{
        .backfone{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 80px;
                width: 100px;
            }
        }
        .heading{
            h1{
                text-align: center;
            }
        }
        .infs{
            display: flex;
            justify-content: space-around;
            align-items: baseline;
            .payeer, .qiwi{
                .center{
                    display: flex;
                    justify-content: center;
                }
                img{
                    width: 44px;
                    height: 42px;
                }
                input{
                    font-size: 25px;
                }
                .metr{
                    margin-bottom: 10px;
                }
            }
        }
        .save{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}