$color-favor: #f14100;

.OverlayHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    &.ReactModal__Overlay--after-open {
      opacity: 1;
    }
    &.ReactModal__Overlay--before-close {
      opacity: 0;
    }
    .Modal {
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 15px;
      right: auto;
      bottom: auto;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      outline: none;
      max-width: 500px;
      width: calc(100% - 20px);
      color: #454545;
      .header {
        padding: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $color-favor;
        h1 {
          font-size: 18px;
          padding-bottom: 3px;
          border-bottom: 3px solid $color-favor;
        }
        .close {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border-radius: 50%;
          border: 3px solid $color-favor;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          transition: all 0.3s;
          padding: 2px;
          svg {
            color: $color-favor;
            font-size: 18px;
            transition: all 0.3s;
          }
          &:hover {
            background: $color-favor;
            transition: all 0.3s;
            svg {
              transition: all 0.3s;
              color: $color-favor;
            }
          }
        }
      }
      .body {
        padding: 30px;
        .checkpoint{
            width: 90%;
            ul{
              h3{
                text-align: center;
                text-decoration: underline;
                text-decoration-color: $color-favor;
                padding-bottom: 2px;
              }
              a{
                text-decoration: none;
                color: $color-favor;
              }
              list-style-type: decimal;
            }
          .underline{
            text-decoration: underline;
          }
          .inform{
            color: $color-favor;
          }
        }
        .informik{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 5px;
          form{
            .formik{
              display: flex;
              justify-content: center;
              align-items: center;
              button{
                margin-top: 3px;
                display: flex;
                padding: 10px 15px;
              }
              input{
                font-size: 20px;
              }
            }
          }
          button,input:focus{
            outline: none;
          }
        }
      }
    }
  }
  .alert {
    background: #ce352c;
    // width: max-content;
    position: relative;
    border-radius: 5px;
    color: #f5f5f5;
    margin: 15px auto;
    padding: 20px;
    .close {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #f5f5f5;
      padding: 1px;
      border-radius: 50%;
      cursor: pointer;
      position: absolute;
      right: 5px;
      top: 5px;
      transition: all 0.3s;
      svg {
        font-size: 16px;
      }
      &:hover {
        transition: all 0.3s;
        background: #f5f5f5;
        svg {
          color: #ce352c;
        }
      }
    }
    .title {
      text-align: center;
      font-weight: bold;
      font-size: 18px;
    }
    .text {
      text-align: center;
    }
  }


  .cont{
    background-color: black;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cont1{
        display: flex;
        flex-direction: column;
        padding: 5% 10%;
        border: 2px solid white;
        border-radius: 10px;
        div{
          padding-top: 10px;
        }
        .sum{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h3{
                text-align: center;
                color: #f14100;
            }
            input:focus{
                outline: none;
            }
            input{
                font-size: 22px;
            }
        }
        .selection{
            h3{
                text-align: center;
                color: #f14100;
            }
            select:focus{
                outline: none;
            }
            select{
                font-size: 21px;
                width: 100%;
                height: 32px;
                text-align-last: left;
                option{
                  font-size: 21px;
                }
            }
        }
        .koch{
            padding-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                padding: 10px 10px;
            }
        }
        .note{
            p{
                color: white;
            }
            a{
                color: #f14100;
                font-size: 18px;
                text-decoration: none;
            }
        }
    }
  }

@media only screen and (max-width: 600px){

}