.addcontainer{
    padding: 10px 0;
    .alladd{
        .design{
            display: flex;
            justify-content: center;
            text-align: center;
            img{
                height: 90px;
                width: 120px;
            }
        }
        .paymethod{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                border: 1px solid black;
                border-radius: 10px;
                height: 100px;
                width: 140px;
            }
        }
    }
}