.spinner_holder {
  background: #fff;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 175px;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    background: white;
    z-index: 10;
  }
  .spinner {
    display: flex;
    width: 1000px;
    overflow: hidden;
    position: relative;
    padding: 30px 1px;
    transition: ease 5s;
    margin: 0 auto;
    .list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      transition-timing-function: cubic-bezier(0.6, 1, 0.5, 1);
      .item {
        user-select: none;
        border-radius: 5px;
        overflow: hidden;
        height: 118px;
        margin-right: 10px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
        img {
        }
      }
    }
    &::before {
      content: '';
      height: 145px;
      position: absolute;
      left: -55px;
      top: 30px;
      background: linear-gradient(
        to right,
        rgba(72, 72, 72, 0.1) 0%,
        #ffffff 30%,
        rgba(155, 64, 64, 0) 100%
      );
      width: 185px;
      z-index: 1;
    }
    &::after {
      content: '';
      height: 145px;
      position: absolute;
      right: -55px;
      top: 30px;
      background: linear-gradient(
        to left,
        rgba(72, 72, 72, 0.1) 0%,
        #ffffff 30%,
        rgba(155, 64, 64, 0) 100%
      );
      width: 185px;
      z-index: 1;
    }
  }
  h2 {
    text-transform: uppercase;
    text-align: center;
  }
}

// content: '';
//       position: absolute;
//       width: 4px;
//       height: 100%;
//       left: 0;
//       right: 0;
//       margin: auto;
//       top: 0;
//       background: white;
//       z-index: 10;
