header {
  .header_holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    max-width: 1280px;
    margin: 0 auto;
    ul.nav {
      display: flex;
      flex-direction: row;
      li {
        list-style-type: none;
        margin-right: 15px;
        a {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
    .actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      .balance {
        margin-right: 15px;
        display: flex;
        flex-direction: row;
        p {
          color: #454545;
          font-size: 15px;
          font-weight: bold;
          margin-right: 5px;
          span {
            color: #7395ae;
          }
        }
        svg {
          font-size: 20px;
          cursor: pointer;
        }
      }
      .avatar {
        margin-right: 15px;
        a {
          img {
            width: 55px;
            height: 55px;
            border-radius: 50%;
          }
        }
      }
      .settings {
        cursor: pointer;
        a {
          display: flex;
          border: 3px solid #7395ae;
          align-items: center;
          justify-content: center;
          padding: 10px;
          border-radius: 25px;
          transition: all 0.5s;
          svg {
            transition: all 0.5s;
            color: #7395ae;
            margin-right: 3px;
          }
          p {
            transition: all 0.5s;
            color: #7395ae;
            font-size: 13.5px;
          }
          &:hover {
            background: #7395ae;
            transition: all 0.3s;
            svg,
            p {
              color: #fff;
              transition: all 0.5s;
              background: transparent;
              // color: #fff;
            }
          }
        }
      }
    }
  }
}
