.OverlayHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  &.ReactModal__Overlay--after-open {
    opacity: 1;
  }
  &.ReactModal__Overlay--before-close {
    opacity: 0;
  }
  .Modal {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    outline: none;
    max-width: 500px;
    width: calc(100% - 20px);
    color: #454545;
    .header {
      padding: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ebebeb;
      h1 {
        font-size: 18px;
        padding-bottom: 3px;
        border-bottom: 3px solid #93b1f7;
      }
      .close {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 50%;
        border: 3px solid #93b1f7;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        transition: all 0.3s;
        padding: 2px;
        svg {
          color: #454545;
          font-size: 18px;
          transition: all 0.3s;
        }
        &:hover {
          background: #93b1f7;
          transition: all 0.3s;
          svg {
            transition: all 0.3s;
            color: #fff;
          }
        }
      }
    }
    .body {
      padding: 30px;
      h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 15px;
      }
      .inpHolder {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        max-width: 350px;
        margin: 0 auto;
        form {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          input {
            width: 100%;
            height: 50px;
            border-radius: 50px;
            outline: none;
            border: none;
            background: #f5f5f5;
            padding: 0 135px 0 25px;
            font-family: inherit;
            font-weight: 700;
            font-size: 16px;
            color: #454545;
            text-align: left;
          }
          button {
            right: 5px;
            position: absolute;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 3px solid #93b1f7;
            background: #fff;
            padding: 10px 15px;
            border-radius: 45px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
            max-width: 150px;
            transition: all 0.4s;
            &:hover {
              background: #93b1f7;
              color: #fff;
              transition: all 0.4s;
            }
          }
          .hide {
            display: none;
          }
        }
      }
      .info {
        text-align: center;
        margin-top: 30px;
        font-weight: 700;
        letter-spacing: 0.2px;
        color: rgb(212, 212, 212);
        font-size: 14px;
      }
    }
  }
}

.header2{
  header {
  background: #161415;
  .design{
    height: 55px;
    width: 100%;
    background-color: #161415;
    .GTC{
      display: flex;
      padding-top: 3px;
      padding: 5px 30px;
      .logon{
        width: 15%;
        img{
        width: 50px;
        height: 50px;
        }
      }
      .outauth{
        display: flex;
        justify-content: space-around;
        width: 70%;
        .UTC{
          display: flex;
          .timer{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
          }
          .icona{
            padding-left: 2px;
            display: flex;
            font-size: 20px;
            color: white;
            .children{
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
        .prof{
          display: flex;
          justify-content: center;
          align-items: center;
          .ile{
            padding-top: 5px;
            font-size: 23px;
            color: white;
          }
          .link{
            a{
              text-decoration: none;
              color: #f14100;
            }
          }
        }
      }
      .authen{
        display: flex;
        justify-content: center;
        align-items: center;
        .authbut{
          .ici{
            display: flex;
            justify-content: center;
            .vk{
              padding-top: 3px;
              font-size: 20px;
            }
            .login{
              display: flex;
              justify-content: center;
            }
          }
          button{
            font-weight: 600;
            min-width: 125px;
            line-height: 35px;
            font-size: 13px;
            background-color: #009900;
            color: white;
            border-radius: 5px;
            // border: 2px solid rgb(241, 65, 0);
          }
        }
        button:focus{
          outline: none;
        }
      }
      .bal{
        display: flex;
        justify-content: center;
        align-items: center;
        .num{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 7px;
          .cenzur{
            display: flex;
            justify-content: center;
            align-items: center;
          }
          p{
            font-size: 16px;
            color: white;
          }
          span{
            font-size: 16px;
            color: #f14100;
          }
        }
        .prof{
          .link{
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
  .headercont{
    width: 100%;
    // height: 30px;
    margin-bottom: 0;
    background-color: #979797;
    .botcont{
      ul{
        display: flex;
        justify-content: center;
        li{
          list-style-type: none;
          padding: 12px 25px;
          a{
            font-size: 18px;
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}
}