@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes mainWidth {
  0% {
    max-width: 0;
    opacity: 0.2;
  }
  100% {
    max-width: 150px;
    opacity: 1;
  }
}
@keyframes toBig {
  0% {
    width: 0;
  }
  100% {
    width: 160px;
  }
}
@keyframes toDown {
  0% {
    width: 160px;
  }
  100% {
    width: 0;
  }
}
@keyframes smallWidth {
  0% {
    flex: 0;
    opacity: 0.2;
  }
  100% {
    max-width: 150px;
    opacity: 1;
  }
}

.livedrop_holder {
  position: relative;
  // padding: 3px;
  .livedrop {
    // background: #7395ae;
    padding: 10px;
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    // background: linear-gradient(
    //   to left,
    //   rgba(178, 148, 255, 0.7),
    //   rgba(87, 230, 230, 0.7),
    //   rgba(254, 255, 184, 0.7),
    //   rgba(87, 230, 230, 0.7),
    //   rgba(178, 148, 255, 0.7),
    //   rgba(87, 230, 230, 0.7)
    // );
    background: linear-gradient(
      to left,
      #c462b7,
      rgba(92, 107, 216, 0.85),
      #b93a9c,
      rgba(92, 107, 216, 0.85),
      #c462b7,
      rgba(92, 107, 216, 0.85)
    );
    background-size: 500% auto;
    animation: gradient 7s linear infinite;
    h1 {
      font-size: 16px;
      color: #fff;
      text-shadow: 1px 1px 6px #000;
      text-transform: uppercase;
      box-shadow: inset 0px 0px 13px 5px hsla(216, 44%, 26%, 0.58);
      font-weight: normal;
      letter-spacing: 1px;
      text-align: center;
      max-width: 125px;
      margin: 0 auto;
      margin-bottom: 10px;
      padding: 8px 0;
      border-radius: 4px;
    }
    ul.list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      list-style-type: none;
      transition: all 0.5s;
      height: 205px;
      overflow: hidden;
      &.to_right {
        transform: translateX(180px);
      }
      .item {
        display: flex;
        flex-direction: column;
        text-align: center;
        text-overflow: ellipsis;
        margin-left: 10px;
        max-width: 150px;
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        transform: all 1s;
        a {
          display: flex;
          flex-direction: column;
          .infoOver {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 155px;
            border-radius: 5px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            background: rgba(28, 26, 21, 0.85);
            padding: 35px 0 0;
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s ease;
            .avatar {
              transform: translateY(5px);
              transition: all 0.4s ease;
              img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
              }
            }
            .infoInner {
              color: #fff;
              transform: translateY(-5px);
              transition: all 0.4s ease;
              p {
                display: flex;
                flex-direction: column;
                font-size: 12px;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.6);
                span {
                  color: #ffffff;
                  font-size: 11px;
                  text-transform: none;
                }
              }
            }
          }
        }
        &:hover {
          a {
            .infoOver {
              opacity: 1;
              visibility: visible;
              .avatar {
                transform: translateY(-5px);
                transition: all 0.4s ease;
              }
              .infoInner {
                transform: translateY(5px);
                transition: all 0.4s ease;
              }
            }
          }
        }
        &:first-child {
          margin-left: 0;
        }
        &.showElem {
          animation: mainWidth;
          animation-duration: 1s;
        }
        &.hideElem {
          animation-duration: 1s;
          transition: all 1s;
          max-width: 0;
          margin: 0;
        }
        img {
          max-width: 100%;
          width: 150px;
          height: 155px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
        .fullname {
          background: rgba(0, 0, 0, 0.32);
          font-size: 12px;
          color: #fff;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          padding: 6px;
          box-shadow: inset 0px 0px 13px 0px hsl(216, 48%, 12%);
        }
        time {
          color: #fff;
          opacity: 0.7;
          padding: 2px;
          font-size: 11px;
          text-align: center;
          white-space: nowrap;
        }
      }
    }
  }
  @media screen and (max-width: 576px) {
    .livedrop {
      padding: 5px;
      ul.list {
        .item {
        }
      }
    }
  }
}
.liveUsers {
  background: #fff;
  padding: 15px 0;
  .main-width {
    .itemsHolder {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 8px;
          width: 55px;
          height: 55px;
          border-radius: 100%;
          background: #f5f5f5;
          font-size: 25px;
        }
        .text {
          font-size: 16px;
          color: #454545;
          span {
            font-weight: bold;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .liveUsers {
    .main-width {
      .itemsHolder {
        // flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        .item {
          .icon {
            width: 50px;
            height: 50px;
            font-size: 20px;
          }
          .text {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.helper {
  height: 200px;
  animation: toBig;
  animation-duration: 1s;
  transition: all 1s;
}
.widthDown {
  animation: toDown;
  animation-duration: 1s;
  transition: all 1s;
}

.mainWidth {
  width: 160px;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 2;
  top: 20px;
  background: none;
  border: 0;
  font-size: 32px;
  cursor: pointer; }
  .carousel .control-arrow:hover {
    opacity: 1;
    filter: alpha(opacity=100); }
  .carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
    margin: 0 5px;
    display: inline-block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    content: ''; }
  .carousel .control-disabled.control-arrow {
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: inherit;
    display: none; }
  .carousel .control-prev.control-arrow {
    left: 0; }
    .carousel .control-prev.control-arrow:before {
      border-right: 8px solid #fff; }
  .carousel .control-next.control-arrow {
    right: 0; }
    .carousel .control-next.control-arrow:before {
      border-left: 8px solid #fff; }

.carousel {
  position: relative;
  width: 100%; }
  .carousel * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .carousel img {
    width: 170px;
    display: inline-block;
    pointer-events: none; }
  .carousel .carousel {
    position: relative; }
  .carousel .control-arrow {
    outline: 0;
    border: 0;
    background: none;
    top: 50%;
    margin-top: -13px;
    font-size: 18px; }
  .carousel .thumbs-wrapper {
    margin: 20px;
    overflow: hidden; }
  .carousel .thumbs {
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: relative;
    list-style: none;
    white-space: nowrap; }
  .carousel .thumb {
    -webkit-transition: border 0.15s ease-in;
    -moz-transition: border 0.15s ease-in;
    -ms-transition: border 0.15s ease-in;
    -o-transition: border 0.15s ease-in;
    transition: border 0.15s ease-in;
    display: inline-block;
    width: 80px;
    margin-right: 6px;
    white-space: nowrap;
    overflow: hidden;
    border: 3px solid #fff;
    padding: 2px; }
    .carousel .thumb:focus {
      border: 3px solid #ccc;
      outline: none; }
    .carousel .thumb.selected, .carousel .thumb:hover {
      border: 3px solid #333; }
    .carousel .thumb img {
      vertical-align: top; }
  .carousel.carousel-slider {
    position: relative;
    margin: 0;
    overflow: hidden; }
    .carousel.carousel-slider .control-arrow {
      top: 0;
      color: #fff;
      font-size: 26px;
      bottom: 0;
      margin-top: 0;
      padding: 5px; }
      .carousel.carousel-slider .control-arrow:hover {
        background: rgba(0, 0, 0, 0.2); }
  .carousel .slider-wrapper {
    overflow: hidden;
    margin: auto;
    width: 100%;
    -webkit-transition: height 0.15s ease-in;
    -moz-transition: height 0.15s ease-in;
    -ms-transition: height 0.15s ease-in;
    -o-transition: height 0.15s ease-in;
    transition: height 0.15s ease-in; }
    .carousel .slider-wrapper.axis-horizontal .slider {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex; }
      .carousel .slider-wrapper.axis-horizontal .slider .slide {
        flex-direction: column;
        flex-flow: column; }
    .carousel .slider-wrapper.axis-vertical {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex; }
      .carousel .slider-wrapper.axis-vertical .slider {
        -webkit-flex-direction: column;
        flex-direction: column; }
  .carousel .slider {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    width: 100%; }
    .carousel .slider.animated {
      -webkit-transition: all 0.35s ease-in-out;
      -moz-transition: all 0.35s ease-in-out;
      -ms-transition: all 0.35s ease-in-out;
      -o-transition: all 0.35s ease-in-out;
      transition: all 0.35s ease-in-out; }
  .carousel .slide {
    max-height: 300px;
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    background: #000; }
    .carousel .slide img {
      height: 300px;
      width: 100%;
      vertical-align: top;
      border: 0; }
    .carousel .slide iframe {
      display: inline-block;
      width: calc(100% - 80px);
      margin: 0 40px 40px;
      border: 0; }
    .carousel .slide .legend {
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      position: absolute;
      bottom: 40px;
      left: 50%;
      margin-left: -45%;
      width: 90%;
      border-radius: 10px;
      background: #000;
      color: #fff;
      padding: 10px;
      font-size: 12px;
      text-align: center;
      opacity: 0.25;
      -webkit-transition: opacity 0.35s ease-in-out;
      -moz-transition: opacity 0.35s ease-in-out;
      -ms-transition: opacity 0.35s ease-in-out;
      -o-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out; }
  .carousel .control-dots {
    position: absolute;
    bottom: 0;
    margin: 10px 0;
    text-align: center;
    width: 100%; }
    @media (min-width: 960px) {
      .carousel .control-dots {
        bottom: 0; } }
    .carousel .control-dots .dot {
      -webkit-transition: opacity 0.25s ease-in;
      -moz-transition: opacity 0.25s ease-in;
      -ms-transition: opacity 0.25s ease-in;
      -o-transition: opacity 0.25s ease-in;
      transition: opacity 0.25s ease-in;
      opacity: 0.3;
      filter: alpha(opacity=30);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
      background: #fff;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      cursor: pointer;
      display: inline-block;
      margin: 0 8px; }
      .carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover {
        opacity: 1;
        filter: alpha(opacity=100); }
  .carousel .carousel-status {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
    color: #fff; }
  .carousel:hover .slide .legend {
    opacity: 1; }

    body{
      margin: 0;
      padding: 0;
    }

.infocont{
  .infomain{
    display: flex;
    .stats{
      span{
        font-size: 25px;
      }
      text-align: center;
      width: 25%;
      background-color: #c4c4c4;
      height: 300px;
    }
    .slidi{
      background-color: white;
      width: 50%;
      height: 300px;
    }
  }
}

.content{
  font-family: "Comic Sans MS", cursive, sans-serif;
  display: flex;
  justify-content: center;
  height: 300px;
  align-items: center;
  background-image: url('../../assets/profile/donald.jpg');
  background-color: yellow;
  font-size: 35px;
  color: white;
}
